/* 色卡 */
:root {
  /* 白色 */
  --white: #ffffff;
  --white-2: #f3f3f3;
  /* 黑色 */
  --black: #181818;
  --black-2: #6e6e6e;
  /* 灰色 */
  --grey: #afafaf;
  --grey-2: #252525;
  /* 金渐变 */
  --gold: #ffd930;
}

/* 默认样式 白天 */
:root {
  /* 背景颜色 */
  --color-background: var(--white);
  /* 字体颜色 */
  --color-text: var(--black-2);
  /* 图标大小 */
  --icon-size: 20px;
  /* 按钮激活时背景颜色 */
  --active-btn-bg-color: var(--white-2);
  /* 鼠标悬浮时按钮背景颜色 */
  --hover-btn-bg-color: var(--white-2);
  /* 按钮激活时文字颜色 */
  --active-btn-text-color: var(--black);
}
:root{
  --top-z-index: 999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-text: var(--grey);
    /* 鼠标悬浮时按钮背景颜色 */
    --hover-btn-bg-color: var(--grey-2);
    /* 按钮激活时背景颜色 */
    --active-btn-bg-color: var(--grey-2) ;
    /* 按钮激活时文字颜色 */
    --active-btn-text-color: var(--white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}


body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
