/* color palette from <https://github.com/vuejs/theme> */
:root {
  --dyz-c-white: #f7f7f7;
  --dyz-c-black: #181818;
  --dyz-c-text-light-1: var(--vt-c-indigo);
  --dyz-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--dyz-c-white);
  --color-text: var(--dyz-c-text-light-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--dyz-c-black);
    --color-text: var(--dyz-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}


body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
